* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primaria: #4f46e5;
  --secundaria: #773aed;
  --escuro: #00172a;
  --claro: #e2e8f0;
  --vidro: #ffffff1a; /* rgba(255, 255, 255, 0.1) convertido para hex (#ffffff + 1a de opacidade) */
  --font-family: "Arial", sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--claro);
  background-color: var(--escuro);
}

.navBar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgb(15, 23, 42, 0.8);
  z-index: 100;
  padding: 1rem;
}

.navList {
  display: flex;
  justify-content: center;
  gap: 180px;
  list-style: none;
}

.linkA {
  text-decoration: none;
  color: var(--claro);
  font-size: 18px;
  transition: all 0.8s ease;
}

.linkA:hover {
  font-size: 20px;
  color: var(--primaria);
}

.logo {
  display: block;
  margin: 0 auto;
  width: 360px;
  border-radius: 50%;
  border: 2px solid var(--primaria);
  box-shadow: var(--primaria) 0px 5px 12px;
  pointer-events: none; /* impede clique/arrasto */
  user-select: none; /* impede seleção */
  -webkit-user-drag: none; /* impede arrasto no Safari */
}

h1,
.descricao {
  text-align: center;
}

.ConteudoP {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 20px;
  flex-direction: column;
}

.titulo {
  margin: 20px 0;
  text-align: center;
}

.sectionSobre {
  min-height: 40vh;
}

.containerSobre {
  width: 512px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--vidro);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  border: 1px solid var(--primaria);
}

.sectionProjetos {
  min-height: 60vh;
}

.containerProjetos {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.projeto {
  border: 1px solid var(--primaria);
  border-radius: 12px;
  max-width: 410px;
  height: 410px;
  cursor: pointer;
}

.capaProjeto {
  display: block;
  width: 95%;
  height: 200px;
  margin: 7px auto;
  border-radius: 12px 12px 0 0;
}

h3 {
  text-align: center;
  margin: 10px 0;
  font-weight: 700;
}

.descricaoProjeto {
  text-align: justify;
  padding: 0 10px;
  font-weight: 600;
}

.btnLink {
  display: block;
  width: 90%;
  height: 30px;
  margin: 10px auto;
  border-radius: 7px;
  border: none;
  background-color: var(--secundaria);
  color: var(--claro);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.6s ease;
  
}

.linkP {
  text-decoration: none;
  color: var(--claro);
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
}

.cardButton{
  display: flex;
  justify-content: end;
}

.contatos {
  width: 690px;
  height: 290px;
  background: var(--primaria);
  border-radius: 12px;
}

.sectionContato {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 30px;
}

form {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.legendaForm {
  font-weight: 600;
}

input {
  outline: none;
  border: none;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 12px;
  transition: 0.6s ease;
}

input:focus {
  border: 1px solid var(--escuro);
  box-shadow: var(--escuro) 0px 5px 6px;
}

.ButtonSub{
  width: 300px;
  height: 30px;
  display: block;
  margin: 0 auto;
  outline: none;
  border-radius: 7px;
  border: 1px solid var(--escuro);
  background-color: var(--escuro);
  color: var(--claro);
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s ease;
}

.ButtonSub:hover {
  width: 320px;
  height: 35px;
  font-size: 17px;
  color: var(--primaria);
  box-shadow: var(--escuro) 0px 5px 12px;
}

footer {
  background-color: red;
}
